@import './colors';

.item-circle-wrapper {
    position: relative;

    .item-circle {
        background: white;
        height: 55px;
        padding-left: 55px;
        width: 625px;
        padding: 0 20px 0 55px;
        display: flex;
        align-items: center;
        color: $very-dark-grayish-blue;
        text-transform: capitalize;
        border-bottom: 1px solid $light-grayish-blue;
        padding-top: 5px;

        &.checked {
            text-decoration: line-through;
            color: $light-gray-blue;
        }
    }

    &:first-child {
        .item-circle {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    &:hover {
        .cross {
            visibility: visible;
        }
    }

    .circle {
        height: 20px;
        width: 20px;
        border-radius: 50px;
        border: 1px solid $light-grayish-blue;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        cursor: pointer;

        &.checked {
            background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

            &:hover {
                background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                border: none;
            }

            &:after {
                content: url('../assets/icon-check.svg');
                height: 20px;
                width: 20px;
                position: relative;
                right: -5px;
                top: 2px;
            }
        }

        &:hover {
            width: 20px;
            height: 20px;
            border: 2px solid transparent;
            border-radius: 50px;
            background-image: linear-gradient(white, white), linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            background-origin: border-box;
            background-clip: content-box, border-box;
        }

        &.no-hover {
            &:hover{
                background-image: none;
                border: 1px solid $light-grayish-blue;
            }
        }
    }
    .cross {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        cursor: pointer;
        visibility: hidden;
    }
}

.btn-gradient {
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: scale 300ms;

    &:hover {
        scale: 1.1;
    }
}