@import './colors';
.item-circle-wrapper {
    position: relative;

    .item-circle {
        background: white;
        height: 55px;
        padding-left: 55px;
        width: 625px;
        padding: 0 20px 0 55px;
        display: flex;
        align-items: center;
        color: $very-dark-grayish-blue;
        text-transform: capitalize;
    }

    .circle {
        height: 20px;
        width: 20px;
        border-radius: 50px;
        border: 1px solid $light-grayish-blue;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
    }
}